.diagram{
    background-image: url("../images/diagram_bg.jpg");
}
.diagram_input_group{
    margin-top: 5.4rem;
    width: 100%;
}
.diagram_input1,.diagram_input2,.diagram_input3{
    width: 100%;
}
.diagram_input_group select{
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: #8ad1ff;
    padding-left: 1rem;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url(...);  自定义下拉箭头 */
}
/* IE10+ */
select::-ms-expand {
    display:none;
}
/* IE9 */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}
select:focus-visible,input:focus-visible {
    outline: none;
}
.diagram_input2{
    margin-top: 3.8rem;
}
.diagram_input3{
    margin-top: 3.9rem;
}
.diagram_input_group input{
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: #8ad1ff;
    padding-left: 1rem;
}
.diagram_input4{
    margin-top: 3.9rem;
}
.diagram_add_icon{
    position: absolute;
    right: -.5rem;
    width: 52px;
    height: 52px;
    background-image: url("../images/add_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.diagram_add_icon:hover,.diagram_add_icon:active{
    background-image: url("../images/add_icon_h.png");
}
.diagram_button_group{
    display: flex;
    position: absolute;
    right:-2.5rem;
    bottom: 4.5rem;
}
.diagram_button_group div{
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
}
.button1{
    background-image: url("../images/send_circle_d.png");
}
.button2{
    background-image: url("../images/clean_circle_d.png");
    margin-left: -3rem;
}
.button1:hover,.button1:active,.button1 .active{
    background-image: url("../images/send_circle_h.png");
}
.button2:hover,.button2:active,.button2 .active{
    background-image: url("../images/clean_circle_h.png");
}

.diagram_main{
    display: flex;
}
.right_table_main_title1>div,.diagram_main>div{
    text-align: center;
    width: 25%;
}
.right_table_main_title1{
    margin-top: 2rem;
}
.right_table_main_data{
    color: #242e59;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    height: 51rem;
}
.area_main,.land_main,.sea_main,.nation_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 117px;
    background-image: url("../images/area_bg.png");
    background-repeat: no-repeat;
    background-position: center;
	opacity:0.5
}
.land_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 117px;
    background-image: url("../images/land_bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.sea_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 117px;
    background-image: url("../images/sea_bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.nation_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 117px;
    background-image: url("../images/nation_bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.color_line{
    width: 20%;
    height: .2rem;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 100%;
}
.color_circle{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 100%;
}
.sea_text .color_circle{
    top: 25px;
    left: 38px;
}
.nation_text .color_circle{
    top: 31px;
    left: 35px;
}
.yellow{
    background-color: #ffe030;
}

.red1{
    background-color: #eb4249;
}

.purple{
    background-color: #7c26b5;
}

.right_icon{
    height: 35%;
}
.grading{
	position: absolute;
    right: .01rem;
	/*left: 2.5rem;*/
    top: 25rem;
	z-index:9999;
}

.alarm_level
{
	position: absolute;
    right: .01rem;
	/*left: 2.5rem;*/
    top: 35rem;
	z-index:9999;
}
/*
.grading,.alarm_level{
    margin-left: 1.5rem;
}
.grading,.alarm_level{
    width: 100%;
    margin-top: 3rem;
}
*/
.right_title_icon p{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin-bottom: .5rem;
}
.grading_text{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.grading_text p{
    margin-bottom: 0;
    letter-spacing: 3px;
    color: #407486;
}
.grading_icon{
    width: 26px;
    height: 5px;
    border-radius: 4px;
    margin-right: 10px;
}
.grading_icon.white{
    background-color: #fff;
}
.level_box{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    margin-right: 16px;
}
.level_box.normal{
    background-color: #fff;
}
.mt_3{
    margin-top: 3rem;
}