.main{
    background-image: url("../images/bg-2.jpg");
}
.left_main{
    background-image: url("../images/left_bg2.png");
}
.left_text{
    height: auto;
    width: 60%;
}
.icon_group{
    width: 70%;
    padding-top: 40%;
    padding-left: 5%;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons > div{
    width: 126px;
    height: 126px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2.5%;
}
.icon1{
    background-image: url("../images/left_icon1.png");
    opacity: 40%;
}
.icon2{
    background-image: url("../images/left_icon2.png");
    opacity: 40%;
}
.icon3{
    background-image: url("../images/left_icon3.png");
    opacity: 40%;
}
.icon4{
    background-image: url("../images/left_icon4.png");
    opacity: 40%;
}
.icon5{
    background-image: url("../images/left_icon5.png");
    opacity: 40%;
}
.icon6{
    background-image: url("../images/left_icon6.png");
    opacity: 40%;
}
.icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover,.icon5:hover,.icon6:hover{
    opacity: 100%;
}
.icons > div.hover{
    opacity: 100%;
}

.right{
    z-index: 9999;
}
.right_main{
    width: 90%;
    padding-left: 10%;
    padding-top: 3%;
    color: #666666;
    height: 100%;
    font-size: 1.2rem;
    
}
.tilte{
    width: 100%;
    height: 20%;
}
.dropdown{
    width: 100%;
}
.btn{
    font-size: 1.5rem;
    text-align: left;
}
.btn-secondary{
    width: 45%;
    color: #151a4e;
    background-color: rgba(111, 168, 179, 0.2);
    border-color:rgba(111, 168, 179, 0.2);
}
.dropdown-toggle::after{
    margin-left: 80%;
}

.right_text{
    display: none;
    width: 100%;
    height: 75%;
    border-top: 1px solid #666666;
    padding-top: 3%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.text_flex{
    width: 100%;
    display: flex;

}
.text_flex>div{
    width: 100%;
}
.text_flex>div .btn-secondary{
    width: 90%;
}
.text{
    width: 100%;
}
.text .btn-secondary{
    width: 95%;
}
.text  .dropdown-toggle::after{
    margin-left: 91%;
}
.mg_t{
    margin-top: 2%;
}
.text6{
    width: 90%;
}
.text6 .rdobutton{
    display: flex;
}
.rdobutton_label{
    background-color: rgba(111, 168, 179, 0.2);
    border-color:rgba(111, 168, 179, 0.2);
}
input:checked + .rdobutton_label{
    background-color: rgba(111, 168, 179, 0.2);
}
.rdobutton_label::before{
    background-color: #151a4e;
}
.radio_text{
    color: #151a4e;
    font-size: 1.5rem;
}
.mg_l{
    margin-left: 10%;
}
.coordinate .form-control{
    width: 90%;
    font-size: 1.5rem;
}
.form-control{
    width: 95%;
    background-color: rgba(111, 168, 179, 0.2);
    border:rgba(111, 168, 179, 0.2);
    color: #151a4e;
    height: auto;
}
.form-control:focus{
    background-color: rgba(111, 168, 179, 0.2);
    border:rgba(111, 168, 179, 0.2);
    color: #151a4e;
}

.button_group{
    display: flex;
    margin-top: 5rem;
}
.button{
    padding: 1rem 3rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: .5rem;
    color: #151a4e;
    font-size: 1.5rem;
}
.button:hover,.button:active,.button:focus{
    background-color: #151a4e;
    color: #ffffff;
}
.button p{
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}
.button_group .mg_l{
    margin-left: 1%;
}

.float_icon{
    position: absolute;
    right: .5rem;
    top: 0;
}
.float_icon>div{
    width: 120px;
    height: 120px;
}
.float_icon1{
    background-image: url("../images/float_icon1.png");
}
.float_icon1:hover,.float_icon1:active,.float_icon1:focus{
    background-image: url("../images/float_icon1_h.png");
}
.float_icon2{
    background-image: url("../images/float_icon2.png");
    margin-top: -2rem;
}
.float_icon2:hover,.float_icon2:active,.float_icon2:focus{
    background-image: url("../images/float_icon2_h.png");
}
.float_icon3{
    background-image: url("../images/float_icon2.png");
    margin-top: -2rem;
}
.float_icon3:hover,.float_icon3:active,.float_icon3:focus{
    background-image: url("../images/float_icon2_h.png");
}