html,body{
    width: 100%;
    height: 100%;
	/*
	transform: rotate(45deg);
	*/
}
.main{
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
	overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px auto;
    position: relative;
	z-index: 99;
}
.left{
    position: absolute;
    width: 35%;
    height: 100%;
    z-index: 999;
}
.left1{
    background-image: url(../images/left_bg_gn.png);
    position: absolute;
    width: 27%;
    height: 100%;
    z-index: 999;
	/* 
	transform: rotate(90deg);
	*/
}
.left2{
    position: absolute;
    width: 25%;
    height: 100%;
    z-index: 999;
	/* 
	transform: rotate(90deg);
	*/
}
.text_scroll{
    height: 38rem;
    overflow: scroll;
    overflow-x: hidden;
}
.left_main{
    position: relative;
    background-image: url("../images/left_bg.png");
    background-repeat: no-repeat;
    width: 40rem;
    height: 70rem;
    -webkit-filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.5))
}

.left_text2{
	 color: #adf5ec;
    font-size: 1.2rem;
    position: absolute;
    height: 36rem;
    width: 25rem;
    top: 12rem;
    left: 2.7rem;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.left_text1{
	/* color: #adf5ec;*/
	color: #2e4f45;
    font-size: 1.2rem;
    position: absolute;
    height: 56rem;
    width: 27rem;
    top: 12rem;
    left: 2rem;
    overflow-wrap: break-word;
    overflow-y: auto;
    
}
.left_text{
    /*color: #adf5ec;
	height: 42rem;*/
    font-size: 1.2rem;
    position: absolute;
    height: 48rem;
    width: 25rem;
    top: 12rem;
    left: 2.7rem;
    overflow-wrap: break-word;
    overflow-y: hidden;
    
}
.left_text::-webkit-scrollbar {
    display: none;
}
.time{
    text-align: center;
    display: flex;
    color: #2e4f45;
    margin-top: 11.5rem;
    margin-left: 4rem;
}
.text1{
    height: auto;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei", "微軟正黑體";
    font-weight: 700;
    color: #165f4b;
    font-size: 1.1em;
}
#time-wrap{
    display: flex;
    list-style:none;
}
#date{
    margin-right: .5rem;
}
#date1{
    margin-right: .5rem;
}
#date2{
    margin-right: .5rem;
}
#date3{
    margin-right: .5rem;
}
.text2{
    width: 100%;
}
.button_group{
    width: 100%;
}
/*.button_group button{
    width: 30%;
}*/
.btntext{
    padding-top: 110px;
    color: #165f4b;
    line-height: 20px;
}
.btn-outline-primary{
	border:#165f4c00
    /*color: #33333;
    border-color: #333333;
    color: #adf5ec;
    border-color: #adf5ec;
	*/
}
.btn-outline-primary_se{
    background-image: url(../images/circle_d.png);
    width: 191px;
    height: 191px;
    color: #adf5ec;
}
.btn-outline-primary_se:hover{
    background-image: url(../images/circle_h.png);
    width: 191px;
    height: 191px;
    color: #165f4b;
}
.btn-outline-primary1{
    background-image: url(../images/leftbtn1.png);
    width: 140px;
    height: 147px;
}
.btn-outline-primary1:hover{
    background-image: url(../images/leftbtn1_h.png);
    width: 140px;
    height: 147px;
}
.btn-outline-primary2{
    background-image: url(../images/leftbtn2.png);
    width: 140px;
    height: 147px;
}
.btn-outline-primary2:hover{
    background-image: url(../images/leftbtn2_h.png);
    width: 140px;
    height: 147px;
}
.btn-outline-primary3{
    background-image: url(../images/leftbtn3.png);
    width: 140px;
    height: 147px;
}
.btn-outline-primary3:hover{
    background-image: url(../images/leftbtn3_h.png);
    width: 140px;
    height: 147px;
}
.btn-outline-primary4{
    background-image: url(../images/icon_img.png);
    width: 120px;
    height: 120px;
    font-size: 1.4rem;
    color:#ffffff;
}
.btn-outline-primary4:hover{
    background-image: url(../images/icon_img_h.png);
    width: 120px;
    height: 120px;
    color:#0d3445;
}
.btn-outline-primary5{
    background-color: #165f4b;
    border-color: #99ddcb;
    width: 100%;
    height: 30px;
    font-size: 1.2rem;
    line-height: 16px;
    letter-spacing: 10px;
    color:#ffffff;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    
}
.btn-outline-primary5:hover{
    background-color: #ebdf7b;
    border: 1px solid #ffffff;
    color:#0d3445;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    color: #0d3445;
    background-color: #adf5ec;
    border-color: #adf5ec;
}
.btn-outline-primary:hover{
    background-color: #165f4c00;
    /*color: #0d3445;
    background-color: #adf5ec;
    border-color: #adf5ec;*/
}
.btn-outline-primary.focus, .btn-outline-primary:focus{
    box-shadow: 0 0 0 0.2rem rgb(173 245 236/ 50%);
}
.text_top_line{
    width: 80%;
    height: 2px;
    background-color: #165f4b;
    position: absolute;
    top: 106px;
}
.text3{
    margin-top: 1.5rem;
    width: 100%;
}
.text3 p{
    margin-bottom: .5rem;
    color: #165f4b;
    font-weight: bold;
    font-size: 1rem;
}
.dropdown{
    width: 100%;
    background-color: #165f4c28;
    border:1px solid #165f4cc2;
    border-radius: .3rem;
    border-style: none;
    margin-bottom: 10px;
}
.dropdown select{
    width: 100%;
	color : #165f4b;
    border:1px solid #165f4cc2;
    /*color: #adf5ec;
	 border-color: #adf5ec;*/
    background-color: transparent;
    padding: .5rem;
    border-radius: .3rem;
}
.btn-secondary{
    color: #adf5ec;
    background-color: transparent;
    border-color: #adf5ec;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #0d3445;
    background-color: #adf5ec;
    border-color: #adf5ec;
}
.btn-secondary:hover{
    color: #0d3445;
    background-color: #adf5ec;
    border-color: #adf5ec;
}
.btn-secondary.focus, .btn-secondary:focus{
    box-shadow: 0 0 0 0.2rem rgb(173 245 236/ 50%);
}
.dropdown-menu.show{
    width: 100%;
}
.text4{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text4 p{
    margin-bottom: .5rem;
}
.text4 div{
   /* width: 48%;*/
   width : 80%;
}
.form-control{
    background-color:  #165f4c28;
    border:1px solid #165f4cc2;
    color: #165f4b;
    border-radius: .3rem;
    font-size: 1.2rem;
    height: 3rem;
	/*border:1px solid #adf5ec;*/
}
.form-control:focus{
    background-color: #ffffff;
	border:1px solid #165f4b;
    border-radius: .3rem;
   /* border:1px solid #adf5ec; */
}
.text5{
    width: 60%;
    margin-top: 1rem;
}
.text5 p{
    margin-bottom: .5rem;
}
.text6{
    width: 100%;
    margin-top: 1rem;
}
.rdobutton_label { /* 主外框 */
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #adf5ec;
    border-radius: 25px;
    -moz-transition: background-color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}
.rdobutton_label::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 16px;
        height: 16px;
        background-color: #adf5ec;
        border-radius: 25px;
        opacity: 0;
        -moz-transition: opacity 0.2s ease-in;
        -webkit-transition: opacity 0.2s ease-in;
        -o-transition: opacity 0.2s ease-in;
        transition: opacity 0.2s ease-in;
}
input:checked + .rdobutton_label { /* 當check時 按鈕顏色改變 */
    background-color: transparent;
}
.rdobutton_radio:checked + .rdobutton_label::before { /* 當check時 打勾消失 */
    opacity: 1;
}
.rdobutton_radio {
    display: none;
}
.radio{
    display: flex;
}
.radio_text{
    margin-left: 1rem;
}
.send_button{
    position: absolute;
    width: 220px;
    height: 220px;
    bottom: 14.75rem;
    right: 2.4rem;
}
.send_button:hover{
    background-image: url("../images/send_h.png");
    opacity: 0.8;
}
.right{
    position: absolute;
    right: 5rem;
    top: 6rem;
    width: 1410px;
    height: 880px; 
	/*background-image: url("../images/bg-2_03.png");*/
	background-repeat: no-repeat;
	background-position: 80px -50px;
	border-radius: 122px;
}
.mapmain{
    width: 100%;
    height: 100%;
}
.map{
    position: relative;
    /*background-image: url("../images/map.png");*/
    width: 100%;
    height: 100%;
    background-position: right;
    border-radius: 122px;
}
.map_top{
    background-image: url("../images/map_top.png");
    background-size: 100%;
    width: 1509px;
    height: 979px; 
    position: absolute;
    top: -46px;
    right: -45px;
}
.bottom_text{
    color: #adf5ec;
    position: absolute;
    bottom: .5rem;
    right: 8rem;
}
.inquire_button{
    background-image: url("../images/Inquire.png");
    width: 404px;
    height: 79px;
    position: absolute;
    bottom: 9rem;
    left: 2rem;
}
.inquire_button:hover{
    background-image: url("../images/Inquire_h.png");
}
.text21{
    position: relative;
    width: 100%;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
}
.text21::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2B4F4A;
    top:0;
}
.text21::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #2B4F4A;
    bottom:0;
}
.text21 p{
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}
.text31{
    margin-top: 1.5rem;
    width: 100%;
}
.text41{
    position: relative;
    padding-top: 1.5rem;
    width: 100%;
    display: block;
}
.text41::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #2B4F4A;
    top:0;
}

.dotpurple {
  height: 15px;
  width: 15px;
  margin-right: .3rem;
  margin-left: .3rem;
  background-color: #6F29F1;
  border-radius: 50%;
  display: inline-block;
}
.dotgreen {
  height: 15px;
  width: 15px;
  margin-right: .3rem;
  margin-left: .3rem;
  background-color: #33FF35;
  border-radius: 50%;
  display: inline-block;
}
.dotblue {
  height: 15px;
  width: 15px;
  margin-right: .3rem;
  margin-left: .3rem;
  background-color: #3383FF;
  border-radius: 50%;
  display: inline-block;
}
.dotyellow {
  height: 15px;
  width: 15px;
  margin-right: .3rem;
  margin-left: .3rem;
  background-color: #DDFF33;
  border-radius: 50%;
  display: inline-block;
}
.dotlight {
  height: 15px;
  width: 15px;
  margin-right: .3rem;
  margin-left: .3rem;
  background-color: #FFC433;
  border-radius: 50%;
  display: inline-block;
}
.dotpink {
  height: 15px;
  width: 15px;
  margin-right: .3rem;
  margin-left: .3rem;
  background-color: #FF33E9;
  border-radius: 50%;
  display: inline-block;
  
}
.dotred {
  height: 15px;
  width: 15px;
  background-color: #F51A08;
  border-radius: 50%;
  display: inline-block;
  margin-right: .3rem;
  margin-left: .3rem;
}
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  bottom: 5px;
  left: -50px;
  min-width: 200px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}